h1{
    color: white;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: -80px;
  }
  
  .card {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 90px;
    margin-right: 90px;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.5);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  body{
    background-color: #282828;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

    
  }
  
.card {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 90px;
    margin-right: 90px;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.5);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  body{
    background-color: #282828;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

    
  } 


 